---
const services = [
  {
    step: '01',
    name: 'Pesquisa',
    
  },
  {
    step: '02',
    name: 'Concepção',
    
  },
  {
    step: '03',
    name: 'Design',
    
  },
  {
    step: '03',
    name: 'Desenvolvimento',
    
  },
  {
    step: '03',
    name: 'Entrega',
    
  },
  {
    step: '03',
    name: 'Acompanhamento',
    
  },
];
---

<section class="py-16 sm:py-20">
  <div class="mx-auto max-w-2xl px-4 sm:px-6 lg:max-w-7xl lg:px-8">
    <div class="flex flex-col gap-6 sm:gap-16">
      <h2 class="text-3xl font-medium tracking-tight sm:text-4xl">Solucionamos problemas com tecnologia e design</h2>
      <div class="w-full overflow-auto">
        <div class="flex gap-2 pr-6">
          {
            services.map((service, index) => (
              <div class="bg-primary-500/10 dark:bg-primary-400/10 min-w-[250px] flex flex-col gap-6 rounded-3xl px-6 py-8">
                <p class="text-md">{index + 1}</p>
                  <h3 class="text-2xl font-bold">{service.name}</h3>
              </div>
            ))
          }
        </div>
      </div>
    </div>
  </div>
</section>
