---
const testimonials = [
  {
    description: 'Fornecedor de Energia',
    message:
      '“O resultado foi uma redução significativa de custos e um aumento na eficiência energética. Agradecemos pela expertise e profissionalismo durante todo o projeto.”',
  },
  {
    description: 'Clínica odontológica',
    message:
      '“Extremamente atenciosos e dedicados. O sistema está funcionando perfeitamente, otimizando o fluxo de trabalho da clínica e garantindo a qualidade do atendimento aos pacientes.”',
  },
  {
    description: 'Software Financeiro Empresarial',
    message:
      '“Solução customizada que superou as expectativas. O sistema é rápido e seguro, e permite que a empresa ofereça um serviço de excelência aos seus clientes.”',
  },
];
---

<section class="py-16 sm:py-20">
  <div class="v mx-auto px-4 sm:px-6 lg:max-w-7xl lg:px-8">
    <div class="flex flex-col items-center gap-12 lg:gap-20">
     
      <div
        class="divide-primary-900/10 dark:divide-primary-300/10 grid divide-y lg:grid-cols-3 lg:divide-x lg:divide-y-0"
      >
        {
          testimonials.map((testimonial) => (
            <figure class="mx-auto flex max-w-lg flex-col items-center gap-6 py-8 lg:px-8 lg:py-0">
              
              <blockquote class="text-primary-950/70 dark:text-primary-200/70 text-center text-lg italic leading-loose">
                <p>{testimonial.message}</p>
              </blockquote>
              <figcaption class="flex flex-col gap-4">
                <div class="text-center">
                  <quote class="text-primary-950/70 dark:text-primary-200/70 text-sm">
                    {testimonial.description}
                  </quote>
                </div>
              </figcaption>
            </figure>
          ))
        }
      </div>
    </div>
  </div>
</section>
