<section class="py-16 sm:py-20">
  <div class="mx-auto max-w-2xl px-4 sm:px-6 lg:max-w-7xl lg:px-8">
    <h2 class="text-3xl mb-6 font-medium tracking-tight sm:text-4xl">Uma conversa, várias ideias.</h2>
    
    <div data-tf-live="01HTGWG7GT3XXW2BGK7Y7HZAFW"></div>
    <script is:inline src="//embed.typeform.com/next/embed.js"></script>

  </div>
</section>

