@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    html {
        font-family: 'Inter', sans-serif;
    }
}

.button-primary {
    --tw-bg-opacity: 1;
    --tw-text-opacity: 1;
    background-color: rgb(238 224 212/var(--tw-bg-opacity));
    color: rgb(17 24 39/var(--tw-text-opacity));
}

.button, .post-body .highlighted-button a, .post-body .highlighted-button button {
    align-items: center;
    border-radius: 0.5rem;
    display: inline-flex;
    font-family: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, Liberation Mono, Courier New, monospace;
    font-size: .875rem;
    font-weight: 500;
    line-height: 1.25rem;
    padding: 0.75rem 1.5rem;
    position: relative;
    transition: background-color .3s ease, color .3s ease;
    white-space: nowrap;
}

.button:hover, .group:hover .button, .group:hover .post-body .highlighted-button a, .group:hover .post-body .highlighted-button button, .post-body .highlighted-button .group:hover a, .post-body .highlighted-button .group:hover button, .post-body .highlighted-button a:hover, .post-body .highlighted-button button:hover {
    --tw-bg-opacity: 1;
    --tw-text-opacity: 1;
    background-color: rgb(19 24 32/var(--tw-bg-opacity));
    color: rgb(255 255 255/var(--tw-text-opacity));
}

.button:after, .button:before, .post-body .highlighted-button a:after, .post-body .highlighted-button a:before, .post-body .highlighted-button button:after, .post-body .highlighted-button button:before {
    background: conic-gradient(from 180deg at 50% 50%, #e8515c 0deg, #fe6ebd 45deg, #5cadfe 90deg, #75f5d8 150deg, #fdf175 225deg, #fe8564 290deg, #e8515c 1turn);
    border-radius: 8px;
    bottom: -1px;
    content: "";
    left: -1px;
    opacity: 0;
    position: absolute;
    right: -1px;
    top: -1px;
    transition: opacity .3s ease;
    z-index: -1;
}

.button:hover:before, .group:hover .button:before, .group:hover .post-body .highlighted-button a:before, .group:hover .post-body .highlighted-button button:before, .post-body .highlighted-button .group:hover a:before, .post-body .highlighted-button .group:hover button:before, .post-body .highlighted-button a:hover:before, .post-body .highlighted-button button:hover:before {
    opacity: 1;
}

.glow-brass {
    --tw-bg-opacity: 1;
    background-color: rgb(237 191 150/var(--tw-bg-opacity));
}

.glow-pink {
    --tw-bg-opacity: 1;
    background-color: rgb(136 40 182/1);
}

.glow-purple {
    --tw-bg-opacity: 1;
    background-color: rgb(88 30 255/var(--tw-bg-opacity));
}

[class*="glow"] {
    border-radius: 9999px;
    position: absolute;
    transform: translateZ(0);
}


.glow-motion {
    animation: glowMotion 6s linear infinite;
}


[class*="glow-"].blur-large {
    --tw-blur: blur(120px);
    filter: var(--tw-blur);
}

.section {
    padding-bottom: 3rem;
    padding-top: 3rem;
}

.home-title {
    -webkit-text-stroke: 2px white;
    -webkit-text-fill-color: transparent;
}

@keyframes glowMotion {
    0% {
        transform: translateZ(0) scale(1);
    }
    33% {
        transform: translate3d(20px, -10px, 0) scale(1.01);
    }
    66% {
        transform: translate3d(-20px, 20px, 0) scale(.95);
    }
    100% {
        transform: tranlate3d(0, 0, 0) scale(1);
    }
}