@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes marquee {
    0% {
        transform: translate(0);
    }
    
    100% {
        transform: translate(-100%);
    }
}

.animate-marquee {
    animation: marquee 20s linear infinite;
}